.chat-grid {
  --pane-header-height: 3rem;
  --pane-sidebar-width: 10rem;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
}

@media not all and (min-width: 768px) {
  .chat-grid {
    grid-template-rows: var(--pane-grid-rows, var(--pane-header-height) 1fr);
    grid-template-columns: var(--pane-sidebar-width) 1fr;
  }
}

@media (min-width: 768px) {
  .chat-grid {
    grid-template-rows: var(--pane-header-height) 1fr;
    grid-template-columns: var(--pane-sidebar-width) repeat(auto-fit, minmax(0, 1fr));
  }
}
