.chat-grid {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 3rem 1fr 4rem;
  grid-auto-flow: column;
  grid-template-columns: 10em repeat(auto-fit, minmax(0, 1fr));
}

.sidebar-body {
  grid-row: 2/4;
}
